<section class="py-5 text-center container">
  <div class="row py-lg-3">
    <div class="col-lg-6 col-md-8 mx-auto">

<img src="../../../assets/image/me.jpg" width="400" alt="">

      <h3 class="fw-light">For Example Home</h3>
      <p class="lead text-muted">
        Something short and leading about the collection below—its contents, the
        creator, etc. Make it short and sweet, but not too short so folks don’t
        simply skip over it entirely.
      </p>

      <div *ngIf="!loggedin()" class="alert alert-danger" role="alert">
        Login for services
      </div>
      <!-- <div *ngIf="loggedin()" class="alert alert-success" role="alert">
        Login successful
      </div> -->
    </div>
    <h2 class="pb-2 border-bottom"></h2>
<div class="container px-4 py-5" id="featured-3">
  <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
    <div class="feature col text-center">
      <img src="../../../assets/image/131-512.webp" width="60"  alt="">

      <h3 class="fs-2">Selim Akyol</h3>
      <p>Paragraph of text beneath the heading to explain the heading.</p>
      <a href="#" class="icon-link d-inline-flex align-items-center">
        Call to action
      </a>
    </div>

       <div class="feature col text-center">
      <img src="../../../assets/image/981099.png" width="60"  alt="">

      <h3 class="fs-2">Serap Erkan</h3>
      <p>Paragraph of text beneath the heading to explain the heading.</p>
      <a href="#" class="icon-link d-inline-flex align-items-center">
        Call to action
    
      </a>
    </div>
    <div class="feature col text-center">
      <img src="../../../assets/image/256-512.webp" width="60"  alt="">
     
      <h3 class="fs-2">Özgün Sefa Öztürk</h3>
      <p>Paragraph of text beneath the heading to explain the heading..</p>
      <a href="#" class="icon-link d-inline-flex align-items-center">
        Call to action
      </a>
    </div>
  </div>
</div>
<h2 class="pb-2 border-bottom"></h2>
  </div>
</section>

